{% include 'sitio/cabecera.html' %}


<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/R.6e7aa9e4ad1691171866020cfec2352e?rik=vin9pIQyMHxjBg&pid=ImgRaw&r=0" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Tomate</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxmaWxvc2FyY2hpdm8yfGd4OjQ5NWUzZDJkNThlZmM5MzI" role="button">Descargar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/R.6e7aa9e4ad1691171866020cfec2352e?rik=vin9pIQyMHxjBg&pid=ImgRaw&r=0" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Tomate</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxmaWxvc2FyY2hpdm8yfGd4OjQ5NWUzZDJkNThlZmM5MzI" role="button">Descargar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/R.6e7aa9e4ad1691171866020cfec2352e?rik=vin9pIQyMHxjBg&pid=ImgRaw&r=0" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Tomate</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxmaWxvc2FyY2hpdm8yfGd4OjQ5NWUzZDJkNThlZmM5MzI" role="button">Descargar</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://th.bing.com/th/id/R.6e7aa9e4ad1691171866020cfec2352e?rik=vin9pIQyMHxjBg&pid=ImgRaw&r=0" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Tomate</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxmaWxvc2FyY2hpdm8yfGd4OjQ5NWUzZDJkNThlZmM5MzI" role="button">Descargar</a>
                </p>
            </div>
        </div>
    </div>

</div>
{% include 'sitio/pie.html' %}